@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

figure {
  margin: 0;
  padding: 0; }

.header {
  padding: 0.7rem 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 600;
  box-shadow: 0 0.5px 1px rgba(204, 204, 204, 0.5); }
  .header__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .header__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .header__container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        width: 1100px; } }
  .header__icons-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo {
    width: 8rem; }
  .header__logo-type {
    fill: #3f3f3f; }
  .header__logo-symbol {
    fill: #F1C40F; }
  .header__icon-menu {
    width: 3rem;
    fill: #3f3f3f;
    cursor: pointer;
    position: relative;
    z-index: 750; }
    .header__icon-menu.active-menu {
      fill: #fff; }
    @media screen and (min-width: 74.9em) {
      .header__icon-menu {
        display: none; } }

@media screen and (max-width: 74.9em) {
  .main-nav {
    background-color: #F1C40F;
    opacity: 0;
    position: fixed;
    width: 80vw;
    height: 100vh;
    top: 0;
    right: -100%;
    z-index: 700;
    overflow: auto;
    padding: 5rem 1rem 0;
    transition: all 300ms ease-in; } }

.main-nav.active {
  right: 0;
  opacity: .98; }

.main-nav__list {
  position: relative; }
  @media screen and (min-width: 64em) {
    .main-nav__list {
      margin-left: 3rem; } }
  @media screen and (min-width: 75em) {
    .main-nav__list {
      display: table; } }

@media screen and (min-width: 75em) {
  .main-nav__item {
    float: left; } }

.main-nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3.2;
  display: block; }
  @media screen and (min-width: 64em) {
    .main-nav__link {
      font-size: 1.8rem; } }
  @media screen and (min-width: 75em) {
    .main-nav__link {
      line-height: 2.5;
      padding: 0 2rem;
      color: #575757;
      font-weight: 400;
      font-size: 1.1rem;
      transition: all 250ms ease-in; }
      .main-nav__link:hover {
        color: #3f3f3f; } }

@media screen and (min-width: 75em) {
  .main-nav__link--hidden {
    display: none; } }

@media screen and (min-width: 75em) {
  .main-nav__link--button {
    background-color: #A8DBA8;
    color: #fff;
    display: block;
    line-height: 2.5;
    padding: 0 1.5rem;
    border-radius: 3rem;
    transition: all 250ms ease-in; }
    .main-nav__link--button:hover {
      background-color: #F1C40F;
      color: #fff; } }

.main-nav__icon-arrow {
  width: 2rem;
  fill: #fff;
  position: relative;
  right: 0.5rem;
  top: 0.5rem; }
  @media screen and (min-width: 75em) {
    .main-nav__icon-arrow {
      fill: #3f3f3f;
      width: 1.5rem;
      top: 0.35rem; } }

.main-nav__list--child {
  background-color: #e3b90d;
  width: 13.5rem; }
  @media screen and (min-width: 30em) {
    .main-nav__list--child {
      width: 15rem; } }
  @media screen and (min-width: 37.5em) {
    .main-nav__list--child {
      width: 16rem; } }
  @media screen and (min-width: 64em) {
    .main-nav__list--child {
      margin-left: 0;
      width: 17rem; } }
  @media screen and (max-width: 74.9em) {
    .main-nav__list--child {
      max-height: 0;
      overflow: hidden;
      transition: all 250ms ease-in; } }
  .main-nav__list--child.show-submenu {
    max-height: 12.5rem; }
    @media screen and (min-width: 64em) {
      .main-nav__list--child.show-submenu {
        max-height: 14rem; } }
  @media screen and (min-width: 75em) {
    .main-nav__list--child {
      background-color: #fff;
      position: absolute;
      display: none; } }

@media screen and (min-width: 75em) {
  .main-nav__item--child {
    float: none; } }

.main-nav__link--child {
  color: #927608;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 3.5;
  box-shadow: 0 0.5px 0 #c29d0b;
  padding-left: 1rem; }
  @media screen and (min-width: 30em) {
    .main-nav__link--child {
      font-size: 1.2rem; } }
  @media screen and (min-width: 64em) {
    .main-nav__link--child {
      line-height: 3.9; } }
  @media screen and (min-width: 75em) {
    .main-nav__link--child {
      color: rgba(87, 87, 87, 0.7);
      font-size: 1rem;
      box-shadow: 0 0.5px 0 rgba(87, 87, 87, 0.2);
      line-height: 4; } }

@media screen and (min-width: 75em) {
  .main-nav__item:hover > .main-nav__list--child {
    display: block; } }

.landing {
  margin-top: 4.6rem;
  background-color: #f6f6f6; }
  .landing__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 0;
    position: relative; }
    @media screen and (min-width: 48em) {
      .landing__container {
        width: 88%; } }
    @media screen and (min-width: 64em) {
      .landing__container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 15rem; } }
    @media screen and (min-width: 75em) {
      .landing__container {
        width: 1100px;
        padding: 16rem; } }
  .landing__copy-container {
    text-align: center;
    margin-bottom: 2rem; }
    @media screen and (min-width: 37.5em) {
      .landing__copy-container {
        width: 50%;
        margin: 0 auto 2rem; } }
    @media screen and (min-width: 64em) {
      .landing__copy-container {
        -ms-flex-order: 2;
        order: 2;
        width: 40%;
        position: absolute;
        top: 4rem;
        right: 0;
        z-index: 500; } }
    @media screen and (min-width: 75em) {
      .landing__copy-container {
        top: 5.5rem; } }
  .landing__copy-title, .landing__copy-subtitle {
    color: #3f3f3f;
    font-family: "Open Sans", sans-serif; }
  .landing__copy-title, .landing__copy-subtitle {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block; }
    .landing__copy-title:after, .landing__copy-subtitle:after {
      content: " ";
      width: 100%;
      height: 0.4rem;
      background-color: #F1C40F;
      position: absolute;
      bottom: -0.6rem;
      left: 0; }
    @media screen and (min-width: 64em) {
      .landing__copy-title, .landing__copy-subtitle {
        font-size: 3rem; } }
  .landing__copy-text {
    font-size: 1.45rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: #3f3f3f; }
    @media screen and (min-width: 37.5em) {
      .landing__copy-text {
        font-size: 1.3rem; } }
    @media screen and (min-width: 64em) {
      .landing__copy-text {
        font-size: 1.5rem; } }
  .landing__copy-button {
    text-decoration: none;
    display: inline-block;
    line-height: 3;
    padding: 0 2rem;
    background-color: #F1C40F;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 5px;
    box-shadow: 0.4px 0.4px 1.5px 1px rgba(204, 204, 204, 0.9);
    transition: all 250ms ease-in; }
    .landing__copy-button:hover {
      background-color: #92d292; }
    @media screen and (min-width: 64em) {
      .landing__copy-button {
        font-size: 1.2rem;
        box-shadow: none; } }
  .landing__img-container {
    background: url(../images/landing-small.jpg) 50% 50%/cover no-repeat;
    width: 100%;
    height: 200px; }
    @media screen and (min-width: 37.5em) {
      .landing__img-container {
        height: 250px; } }
    @media screen and (min-width: 48em) {
      .landing__img-container {
        height: 300px; } }
    @media screen and (min-width: 64em) {
      .landing__img-container {
        background: url(../images/landing-big.jpg) 50% 50%/cover no-repeat;
        height: 350px;
        -ms-flex-order: 1;
        order: 1;
        width: 62%;
        position: absolute;
        top: 3.5rem;
        left: 0;
        z-index: 450; } }
    @media screen and (min-width: 75em) {
      .landing__img-container {
        top: 5rem; } }

.header-title {
  text-align: center; }
  @media screen and (min-width: 64em) {
    .header-title {
      width: 70%;
      margin-left: auto;
      margin-right: auto; } }
  .header-title__title, .header-title__text {
    color: #575757; }
  .header-title__title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    margin-top: 0; }
  .header-title__text {
    font-size: 1.3rem;
    line-height: 1.7;
    font-weight: 300; }

.about {
  padding: 3em 0;
  background-color: #fff; }
  .about__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .about__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .about__container {
        width: 1100px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (min-width: 75em) {
    .about__header--style {
      width: 50%;
      text-align: left; } }
  .about__img-link {
    text-decoration: none; }
  .about__img-container {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/item-team.jpg) 50% 50%/cover no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 1px 1px rgba(204, 204, 204, 0.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3rem; }
    @media screen and (min-width: 40em) {
      .about__img-container {
        width: 70%;
        height: 350px;
        margin: 3rem auto 0; } }
    @media screen and (min-width: 48em) {
      .about__img-container {
        height: 250px; } }
    @media screen and (min-width: 75em) {
      .about__img-container {
        width: 520px;
        height: 290px;
        margin: 0; } }
  .about__img-title {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    display: inline-block;
    position: relative; }
    .about__img-title:after {
      content: " ";
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: -0.5rem; }

.services {
  padding: 3rem 0;
  background-color: #f6f6f6; }
  .services__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .services__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .services__container {
        width: 1100px; } }
  .services__items-container {
    margin-top: 3rem; }
    @media screen and (min-width: 48em) {
      .services__items-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .services__item {
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0.2px 0.4px 1px 1px rgba(204, 204, 204, 0.6); }
    @media screen and (min-width: 37.5em) {
      .services__item {
        width: 70%;
        margin: 0 auto 2rem; } }
    @media screen and (min-width: 48em) {
      .services__item {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }
    @media screen and (min-width: 64em) {
      .services__item {
        -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%; } }
  .services__item-img-container-1, .services__item-img-container-2, .services__item-img-container-3 {
    height: 230px;
    border-radius: 10px 10px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 48em) {
      .services__item-img-container-1, .services__item-img-container-2, .services__item-img-container-3 {
        height: 200px; } }
  .services__item-img-container-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)), url(../images/item-service-1.jpg) 50% 10%/cover no-repeat; }
  .services__item-img-container-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)), url(../images/item-service-2.jpg) 50% 10%/cover no-repeat; }
  .services__item-img-container-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)), url(../images/item-service-3.jpg) 50% 10%/cover no-repeat; }
  .services__item-img-title {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
    position: relative; }
    .services__item-img-title:after {
      content: " ";
      width: 100%;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: -0.5rem; }
      @media screen and (min-width: 48em) {
        .services__item-img-title:after {
          height: 2px; } }
    @media screen and (min-width: 48em) {
      .services__item-img-title {
        font-size: 1.1rem; } }
  .services__item-copy-container {
    background-color: #fff;
    border-radius: 0  0 10px 10px;
    text-align: center;
    padding: 1rem 0; }
  .services__item-title {
    margin-top: 0;
    color: rgba(87, 87, 87, 0.7);
    font-size: 1.2rem; }
    @media screen and (min-width: 48em) {
      .services__item-title {
        font-size: 1rem; } }
  .services__item-button {
    text-decoration: none;
    display: inline-block;
    line-height: 3;
    padding: 0 1.5rem;
    background-color: #A8DBA8;
    box-shadow: 0.4px 0.4px 1px rgba(204, 204, 204, 0.8);
    border-radius: 3rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 250ms ease-in; }
    .services__item-button:hover {
      background-color: #F1C40F; }
    @media screen and (min-width: 48em) {
      .services__item-button {
        font-size: 1rem; } }

.work {
  background-color: #fff;
  padding: 3rem 0; }
  .work__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .work__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .work__container {
        width: 1100px; } }
  .work__items-container {
    margin-top: 3rem; }
    @media screen and (min-width: 48em) {
      .work__items-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .work__item {
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0.2px 0.4px 1px 1px rgba(204, 204, 204, 0.6); }
    @media screen and (min-width: 37.5em) {
      .work__item {
        width: 70%;
        margin: 0 auto 2rem; } }
    @media screen and (min-width: 48em) {
      .work__item {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }
    @media screen and (min-width: 64em) {
      .work__item {
        -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%; } }
  .work__item-img {
    width: 6rem;
    height: 6rem; }
    @media screen and (min-width: 64em) {
      .work__item-img {
        width: 4.5rem; } }
  .work__item-title {
    color: #3f3f3f;
    font-weight: 500;
    font-size: 1.3rem; }
    @media screen and (min-width: 48em) {
      .work__item-title {
        font-size: 1.1rem; } }
  .work__item-text {
    color: #575757;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6; }
    @media screen and (min-width: 48em) {
      .work__item-text {
        font-size: 1rem;
        line-height: 1.7; } }

.contact {
  background-color: #f6f6f6;
  padding: 3rem 0; }
  .contact__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .contact__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .contact__container {
        width: 1100px; } }
  .contact__info-container {
    margin-top: 3rem; }
  .contact__item {
    position: relative;
    width: 100%; }
    @media screen and (min-width: 48em) {
      .contact__item {
        width: 60%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 64em) {
      .contact__item {
        width: 40%; } }
  .contact__item-arrow {
    border: 15px solid transparent;
    border-bottom-color: #fff;
    width: 0;
    height: 0;
    position: absolute;
    left: 45%;
    top: -1.6rem;
    z-index: 290; }
  .contact__item-content {
    background-color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 10px;
    box-shadow: 0.4px 1px 1px 0.5px rgba(204, 204, 204, 0.6);
    position: relative;
    z-index: 300; }
  @media screen and (min-width: 30em) {
    .contact__item-list {
      width: 50%;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 48em) {
    .contact__item-list {
      width: 60%; } }
  .contact__item-list-item {
    position: relative;
    display: inline-block; }
  .contact__item-link {
    text-decoration: none;
    color: #575757;
    font-size: 1.2rem;
    margin-left: 2rem;
    line-height: 3.5;
    transition: all 250ms ease-in; }
    .contact__item-link:hover {
      color: #F1C40F; }
    .contact__item-link:hover .contact__item-icon {
      fill: #F1C40F; }
  .contact__item-icon {
    width: 1.3rem;
    fill: #575757;
    position: absolute;
    left: 0;
    bottom: 1.5rem;
    transition: all 250ms ease-in; }

.footer {
  background-color: #3f3f3f;
  padding: 3rem 0; }
  @media screen and (min-width: 75em) {
    .footer {
      padding: 1.5rem 0; } }
  .footer__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .footer__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .footer__container {
        width: 1100px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center; } }
  .footer__info-container {
    margin-bottom: 3rem; }
    @media screen and (min-width: 40em) {
      .footer__info-container {
        text-align: center; } }
    @media screen and (min-width: 75em) {
      .footer__info-container {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        text-align: left;
        margin-bottom: 0; } }
  .footer__info-title, .footer__info-link, .footer__info-list-item {
    color: #aaaaaa;
    font-size: 1.1rem; }
  .footer__info-title {
    font-size: 1.3rem;
    font-weight: 500;
    position: relative; }
    .footer__info-title:after {
      content: " ";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #aaaaaa;
      position: absolute;
      left: 0;
      bottom: -1rem; }
  .footer__info-list-item {
    line-height: 2.5; }
  .footer__info-icon {
    width: 1.2rem;
    fill: #aaaaaa;
    margin-right: 0.5rem;
    position: relative;
    top: 0.2rem;
    transition: all 250ms ease-in; }
  .footer__info-link {
    text-decoration: none;
    transition: all 250ms ease-in; }
    .footer__info-link:hover {
      color: #fff; }
    .footer__info-link:hover .footer__info-icon {
      fill: #fff; }
  .footer__copyright-container {
    text-align: center; }
  .footer__logo {
    width: 8rem;
    fill: #c3c3c3; }
  .footer__copyright {
    color: #c3c3c3; }
  .footer__copyright-style {
    color: #f6f6f6;
    text-decoration: none;
    transition: all 250ms ease-in; }
    .footer__copyright-style:hover {
      color: #c3c3c3; }

.team {
  margin-top: 4.6rem;
  padding: 3rem 0 6rem; }
  @media screen and (min-width: 30em) {
    .team {
      padding-bottom: 3rem; } }
  @media screen and (min-width: 48em) {
    .team {
      padding-bottom: 0; } }
  .team__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .team__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .team__container {
        width: 1100px; } }
  .team__content {
    position: relative;
    margin-top: 4rem; }
  .team__img-container {
    background: url(../images/team-section.jpg) 50% 50%/cover no-repeat;
    width: 17rem;
    height: 37rem;
    position: absolute;
    top: 0;
    right: 0; }
    @media screen and (min-width: 30em) {
      .team__img-container {
        width: 25rem;
        height: 33rem; } }
    @media screen and (min-width: 37.5em) {
      .team__img-container {
        width: 32rem;
        height: 30rem; } }
    @media screen and (min-width: 48em) {
      .team__img-container {
        background-image: url(../images/team-section-big.jpg);
        width: 40rem;
        height: 25rem; } }
    @media screen and (min-width: 64em) {
      .team__img-container {
        height: 27.5rem; } }
    @media screen and (min-width: 75em) {
      .team__img-container {
        width: 47rem;
        height: 26rem; } }
  .team__copy-container {
    background-color: #F1C40F;
    padding: 1.5rem 1rem;
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 90%;
    opacity: 0.95; }
    @media screen and (min-width: 37.5em) {
      .team__copy-container {
        top: 4rem; } }
    @media screen and (min-width: 64em) {
      .team__copy-container {
        width: 70%;
        height: 20rem; } }
    @media screen and (min-width: 75em) {
      .team__copy-container {
        width: 55%;
        height: 22rem;
        top: 2.5rem; } }
  .team__copy-list {
    font-size: 1.4rem;
    line-height: 1.7; }
  .team__copy-item {
    color: #fff;
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 2rem;
    margin-top: 0; }
    @media screen and (min-width: 64em) {
      .team__copy-item {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        margin-top: 1rem; } }
  .team__copy-icon {
    width: 1.5rem;
    fill: #fff;
    position: absolute;
    top: 0.3rem;
    left: 0; }

.intro {
  background-color: #f6f6f6;
  margin-top: 35rem;
  padding: 3rem 0 0.1rem; }
  @media screen and (min-width: 48em) {
    .intro {
      padding: 3rem 0; } }
  .intro__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    @media screen and (min-width: 48em) {
      .intro__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .intro__container {
        width: 60%; } }
  .intro__copy {
    line-height: 1.8;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 3rem; }
  .intro__copy-style {
    text-transform: uppercase;
    font-weight: 500;
    color: #F1C40F;
    font-size: 1.7rem; }

.members {
  padding: 3rem 0; }
  .members__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .members__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .members__container {
        width: 1100px; } }
  .members__items-container {
    margin-top: 4rem; }
    @media screen and (min-width: 64em) {
      .members__items-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center; } }
  .members__item {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 2rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0.4px 0.3px 0 1.5px rgba(204, 204, 204, 0.3); }
    @media screen and (min-width: 37.5em) {
      .members__item {
        width: 70%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 64em) {
      .members__item {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }
    @media screen and (min-width: 75em) {
      .members__item {
        padding-left: 2rem;
        padding-right: 2rem; } }
  .members__item-title, .members__item-text, .members__item-subtitle {
    color: #575757; }
  .members__item-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    margin-bottom: 0; }
  .members__item-subtitle {
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 1rem; }
    @media screen and (min-width: 75em) {
      .members__item-subtitle {
        font-size: 1.2rem; } }
  .members__item-text {
    margin-bottom: 0;
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.2rem; }
    @media screen and (min-width: 75em) {
      .members__item-text {
        font-size: 1rem; } }

.additional {
  padding: 3rem 0;
  border-top: 1px solid rgba(204, 204, 204, 0.3); }
  .additional__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .additional__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .additional__container {
        width: 60%; } }
  .additional__copy {
    font-size: 1.25rem;
    line-height: 1.7;
    color: #3f3f3f;
    font-weight: 300;
    text-align: center; }
  .additional__copy--style {
    margin-bottom: 3rem; }

.store {
  background-color: #f6f6f6;
  padding: 3rem 0;
  margin-top: 4.6rem; }
  @media screen and (min-width: 64em) {
    .store {
      background: linear-gradient(rgba(245, 245, 245, 0.93), rgba(245, 245, 245, 0.93)), url(../images/banner-pricing.jpg) 50% 50%/cover no-repeat;
      filter: grayscale(1); } }
  .store__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .store__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .store__container {
        width: 1100px; } }

.package {
  padding: 3rem 0; }
  .package__items-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .package__items-container {
        width: 88%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media screen and (min-width: 64em) {
      .package__items-container {
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (min-width: 75em) {
      .package__items-container {
        width: 1100px; } }
  .package__item {
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-radius: 10px;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
    transition: all 250ms ease-in; }
    @media screen and (min-width: 30em) {
      .package__item {
        width: 75%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 48em) {
      .package__item {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }
    @media screen and (min-width: 64em) {
      .package__item {
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%; } }
    @media screen and (min-width: 75em) {
      .package__item {
        -ms-flex-preferred-size: 28%;
        flex-basis: 28%; } }
  .package__item-price-container {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.8); }
  .package__item-title {
    margin-top: 0;
    text-transform: uppercase;
    color: rgba(204, 204, 204, 0.5);
    font-family: "Open Sans", sans-serif;
    font-size: 2.7rem; }
    @media screen and (min-width: 64em) {
      .package__item-title {
        font-size: 2.4rem; } }
    @media screen and (min-width: 75em) {
      .package__item-title {
        font-size: 2.2rem; } }
  .package__item-price-style {
    position: relative; }
  .package__item-price-peso, .package__item-price, .package__item-price-coin {
    color: #A8DBA8; }
  .package__item-price-peso--yellow, .package__item-price--yellow, .package__item-price-coin--yellow {
    color: rgba(241, 196, 15, 0.5); }
  .package__item-price-peso--blue, .package__item-price--blue, .package__item-price-coin--blue {
    color: rgba(122, 167, 214, 0.8); }
  .package__item-price-peso, .package__item-price-coin {
    font-weight: 400;
    font-size: 1.7rem; }
    @media screen and (min-width: 64em) {
      .package__item-price-peso, .package__item-price-coin {
        font-size: 1.5rem; } }
  .package__item-price {
    font-weight: 500;
    font-size: 4rem; }
    @media screen and (min-width: 64em) {
      .package__item-price {
        font-size: 3rem; } }
  .package__item-price-coin {
    text-transform: uppercase; }
  .package__item-list-container {
    padding: 3rem 1.5rem; }
  .package__item-list-item {
    color: #575757;
    line-height: 3;
    font-size: 1.2rem;
    font-weight: 300; }
    @media screen and (min-width: 64em) {
      .package__item-list-item {
        font-size: 1.1rem; } }
  .package__button-container {
    padding-bottom: 2rem; }
  .package__button {
    text-decoration: none;
    display: inline-block;
    line-height: 2.8;
    padding: 0 2rem;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #A8DBA8;
    color: #fff;
    transition: all 200ms ease-in; }
    .package__button:hover {
      background-color: #F1C40F;
      color: #fff; }
    @media screen and (min-width: 64em) {
      .package__button {
        font-size: 1.2rem; } }
  .package__button--yellow {
    background-color: #F1C40F; }
    .package__button--yellow:hover {
      background-color: #A8DBA8; }
  .package__button--blue {
    background-color: rgba(122, 167, 214, 0.8); }
    .package__button--blue:hover {
      background-color: #A8DBA8; }

.details {
  border-top: 1px solid rgba(204, 204, 204, 0.3);
  padding: 3rem 0; }
  .details__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .details__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .details__container {
        width: 1100px; } }
  .details__info-container {
    margin-top: 3rem;
    background-color: #f6f6f6;
    padding: 2.5rem 1rem; }
    @media screen and (min-width: 64em) {
      .details__info-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-left: 3rem;
        padding-right: 3rem; } }
  @media screen and (min-width: 64em) {
    .details__info {
      -ms-flex-preferred-size: 47%;
      flex-basis: 47%; } }
  .details__info-title {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 0 2rem;
    color: #3f3f3f; }
    @media screen and (min-width: 64em) {
      .details__info-title {
        font-size: 1.2rem; } }
  .details__info-list {
    color: #575757; }
  .details__info-list-item {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 1.8rem;
    padding-left: 1.1rem;
    position: relative; }
    .details__info-list-item:before {
      content: " ";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: #F1C40F;
      position: absolute;
      left: 0;
      top: 0.7rem; }
    @media screen and (min-width: 64em) {
      .details__info-list-item {
        font-size: 1.1rem; } }
  .details__info--style {
    margin-bottom: 4.5rem; }
    @media screen and (min-width: 64em) {
      .details__info--style {
        margin-bottom: 0; } }

.restaurant {
  background-color: #f6f6f6;
  padding: 3rem 0;
  margin-top: 4.6rem; }
  @media screen and (min-width: 64em) {
    .restaurant {
      background: linear-gradient(rgba(245, 245, 245, 0.93), rgba(245, 245, 245, 0.93)), url(../images/banner-pricing.jpg) 50% 50%/cover no-repeat;
      filter: grayscale(1); } }
  .restaurant__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .restaurant__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .restaurant__container {
        width: 1100px; } }

.doctor {
  background-color: #f6f6f6;
  padding: 3rem 0;
  margin-top: 4.6rem; }
  @media screen and (min-width: 64em) {
    .doctor {
      background: linear-gradient(rgba(245, 245, 245, 0.93), rgba(245, 245, 245, 0.93)), url(../images/banner-pricing.jpg) 50% 50%/cover no-repeat;
      filter: grayscale(1); } }
  .doctor__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .doctor__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .doctor__container {
        width: 1100px; } }

.header-portfolio {
  margin-top: 4.6rem;
  padding: 3rem 0;
  background-color: #f6f6f6; }
  .header-portfolio__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .header-portfolio__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .header-portfolio__container {
        width: 1100px; } }

.portfolio {
  padding: 3rem 0; }
  .portfolio__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .portfolio__container {
        width: 88%; } }
    @media screen and (min-width: 75em) {
      .portfolio__container {
        width: 1100px; } }
  .portfolio__item-link {
    text-decoration: none; }
  .portfolio__item {
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0.4px 0.4px 1px 1px rgba(204, 204, 204, 0.6);
    cursor: pointer; }
  .portfolio__img-container-1, .portfolio__img-container-2, .portfolio__img-container-3, .portfolio__img-container-4, .portfolio__img-container-5, .portfolio__img-container-6 {
    height: 250px; }
  .portfolio__img-container-1 {
    background: url(../images/item-verde.jpg) 50% 50%/cover no-repeat; }
  .portfolio__img-container-2 {
    background: url(../images/item-rosarito.jpg) 50% 50%/cover no-repeat; }
  .portfolio__img-container-3 {
    background: url(../images/item-caesars.jpg) 50% 50%/cover no-repeat; }
  .portfolio__img-container-4 {
    background: url(../images/item-club.jpg) 50% 50%/cover no-repeat; }
  .portfolio__img-container-5 {
    background: url(../images/item-hyatt.jpg) 50% 50%/cover no-repeat; }
  .portfolio__img-container-6 {
    background: url(../images/item-mision.jpg) 50% 50%/cover no-repeat; }
  .portfolio__copy-container {
    background-color: #f6f6f6;
    padding: 1.5rem 0; }
  .portfolio__copy-title {
    color: #3f3f3f;
    margin: 0 0 0.7rem;
    font-size: 1.3rem;
    font-weight: 500; }
  .portfolio__copy-subtitle {
    color: rgba(87, 87, 87, 0.7);
    font-size: 1.2rem;
    margin: 0; }
  .portfolio__button {
    text-decoration: none;
    display: inline-block;
    line-height: 2.5;
    padding: 0 2rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: #A8DBA8;
    border-radius: 3rem;
    margin-top: 1.5rem;
    box-shadow: 0.4px 0.4px 1px 1px rgba(204, 204, 204, 0.6); }
