.additional {
    padding: 3rem 0;
    border-top: 1px solid rgba(#ccc, .3);

    &__container {
        width: 90%;
        margin: 0 auto;
    }
    &__copy {
        font-size: 1.25rem;
        line-height: 1.7;
        color: $color2;
        font-weight: $light;
        text-align: center;
    }
    &__copy--style {
        margin-bottom: 3rem;
    }
}