.contact {
    background-color: $color4;
    padding: 3rem 0;

    &__container {
        width: 90%;
        margin: 0 auto;
    }
    &__info-container {
        margin-top: 3rem;
    }
    &__item {
        position: relative;
        width: 100%;

        @media screen and (min-width: 40em) {
            width: 50%;
            margin: 0 auto 2rem;
        }
    }
    &__item-arrow {
        border: 15px solid transparent;
        border-bottom-color: #fff;
        width: 0;
        height: 0;
        position: absolute;
        left: 45%;
        top: -1.6rem;
        z-index: 290;
    }
    &__item-content {
        background-color: #fff;
        text-align: center;
        padding: 1.5rem 0;
        border-radius: 10px;
        box-shadow: 0.4px 1px 1px 0.5px rgba(#ccc, .6);
        position: relative;
        z-index: 300;
    }
    &__item-list {

    }
    &__item-list-item {
        position: relative;
        display: inline-block;
    }
    &__item-link {
        text-decoration: none;
        color: $color3;
        font-size: 1.2rem;
        margin-left: 2rem;
        line-height: 3.5;
        transition: all 250ms ease-in;
        &:hover {
            color: $color1;
        }
        &:hover .contact__item-icon {
            fill: $color1;
        }
    }
    &__item-icon {
        width: 1.3rem;
        fill: $color3;
        position: absolute;
        left: 0;
        bottom: 1.5rem;
        transition: all 250ms ease-in;
    }
}