.doctor {
    background-color: $color4;
    padding: 3rem 0;
    margin-top: 4.6rem;

    @media screen and (min-width: 64em) {
        background:
            linear-gradient(rgba(245, 245, 245, 0.93), rgba(245, 245, 245, 0.93)),
            url(../images/banner-pricing.jpg) 50% 50% / cover no-repeat;
        filter: grayscale(1);
    }

    &__container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 48em) {
            width: 88%;
        }

        @media screen and (min-width: 75em) {
            width: 1100px;
        }
    }
}