.footer {
    background-color: $color2;
    padding: 3rem 0;

    &__container {
        width: 90%;
        margin: 0 auto;
    }
    &__info-container {
        margin-bottom: 3rem;

        @media screen and (min-width: 40em) {
            text-align: center;
        }
    }
    &__info-title,
    &__info-link,
    &__info-list-item {
        color: darken($color4, 30%);
        font-size: 1.1rem;
    }
    &__info-title {
        font-size: 1.3rem;
        font-weight: $medium;
        position: relative;
        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 2px;
            background-color: darken($color4, 30%);
            position: absolute;
            left: 0;
            bottom: -1rem;
        }
    }
    &__info-list {
        
    }
    &__info-list-item {
        line-height: 2.5;
    }
    &__info-icon {
        width: 1.2rem;
        fill: darken($color4, 30%);
        margin-right: 0.5rem;
        position: relative;
        top: 0.2rem;
        transition: all 250ms ease-in;
    }
    &__info-link {
        text-decoration: none;
        transition: all 250ms ease-in;
        &:hover {
            color: #fff;
        }
        &:hover .footer__info-icon {
            fill: #fff;
        }
    }
    //copyright section
    &__copyright-container {
        text-align: center;
    }
    &__logo {
        width: 8rem;
        fill: darken($color4, 20%);
    }
    &__copyright {
        color: darken($color4, 20%);
    }
    &__copyright-style {
        color: $color4;
        text-decoration: none;
        transition: all 250ms ease-in;
        &:hover {
            color: darken($color4, 20%);
        }
    }
}