.header-title {
    text-align: center;

    @media screen and (min-width: 64em) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    &__title,
    &__text {
        color: $color3;
    }
    &__title {
        font-family: $fontTitle;
        font-size: 1.8rem;
        line-height: 1.4;
        margin-top: 0;
    }
    &__text {
        font-size: 1.3rem;
        line-height: 1.7;
        font-weight: $light;
    }
}