.main-nav {

    @media screen and (max-width: 63em) {
        background-color: $color1;
        position: fixed;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: -100%;
        z-index: 700;
        overflow: auto;

        padding: 5rem 1rem 0;
        transition: all 300ms ease-in;
    }
    &.active {
        right: 0;
    }

    //main-menu
    &__list {
        position: relative;
    }
    &__item {

        @media screen and (max-width: 63em) {
            margin-bottom: 1rem;
        }

        @media screen and (min-width: 64em) {
            display: inline-block;
            margin-left: 2.5rem;
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: $medium;
        line-height: 2.5;

        @media screen and (min-width: 64em) {
            color: $color3;
            font-weight: $normal;
            font-size: 1.1rem;
            transition: all 250ms ease-in;
            &:hover {
                color: $color2;
            }
        }
    }
    &__link--hidden {

        @media screen and (min-width: 64em) {
            display: none;
        }
    }
    &__link--button {

        @media screen and (min-width: 64em) {
            background-color: $color5;
            color: #fff;
            display: inline-block;
            line-height: 2.5;
            padding: 0 1.5rem;
            border-radius: 3rem;
            transition: all 250ms ease-in;
            &:hover {
                background-color: $color1;
                color: #fff;
            }
        }
    }
    &__icon-arrow {
        width: 2rem;
        fill: #fff;
        position: relative;
        right: 0.5rem;
        top: 0.5rem;

        @media screen and (min-width: 64em) {
            fill: $color2;
            width: 1.5rem;
            top: 0.35rem;
        }
    }
    //sub-menu
    &__list--child {
        background-color: darken($color1, 3%);
        width: 15.5rem;

        @media screen and (max-width: 63em) {
            max-height: 0;
            overflow: hidden;
            transition: all 250ms ease-in;
        }

        @media screen and (min-width: 64em) {
            background-color: #fff;
            box-shadow: 0.4px 0.4px 1px 1px rgba(#ccc, .5);
            position: absolute;
            left: 12rem;
            top: 3.8rem;
            padding: 0;
        }

        &.show-submenu {
            max-height: 13rem;
        }
    }
    &__item--child {
        
        @media screen and (max-width: 63em) {
            margin-bottom: 0;
        }

        @media screen and (min-width: 64em) {
            margin: 0;
            display: block;
        }
    }
    &__link--child {
        display: block;
        color: darken($color1, 20%);
        font-size: 1.2rem;
        font-weight: $normal;
        line-height: 3.5;
        box-shadow: 0 0.5px 0 darken($color1, 10%);
        padding-left: 1rem;

        @media screen and (min-width: 64em) {
            color: rgba($color3, .7);
            font-size: 1.1rem;
            box-shadow: 0 0.5px 0 rgba($color3, .2);
            padding-left: 0;
        }
    }
}