.main-nav {

    @media screen and (max-width: 74.9em) {
        background-color: $color1;
        opacity: 0;
        position: fixed;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: -100%;
        z-index: 700;
        overflow: auto;

        padding: 5rem 1rem 0;
        transition: all 300ms ease-in;
    }
    &.active {
        right: 0;
        opacity: .98;
    }

    //main-menu
    &__list {
        position: relative;

        @media screen and (min-width: 64em) {
            margin-left: 3rem;
        }

        @media screen and (min-width: 75em) {
            display: table;
        }
    }
    &__item {

        @media screen and (min-width: 75em) {
            float: left;
        }

    }
    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: $medium;
        line-height: 3.2;
        display: block;

        @media screen and (min-width: 64em) {
            font-size: 1.8rem;
        }

        @media screen and (min-width: 75em) {
            line-height: 2.5;
            padding: 0 2rem;
            color: $color3;
            font-weight: $normal;
            font-size: 1.1rem;
            transition: all 250ms ease-in;
            &:hover {
                color: $color2;
            }
        }
    }
    &__link--hidden {

        @media screen and (min-width: 75em) {
            display: none;
        }
    }
    &__link--button {

        @media screen and (min-width: 75em) {
            background-color: $color5;
            color: #fff;
            display: block;
            line-height: 2.5;
            padding: 0 1.5rem;
            border-radius: 3rem;
            transition: all 250ms ease-in;
            &:hover {
                background-color: $color1;
                color: #fff;
            }
        }
    }
    &__icon-arrow {
        width: 2rem;
        fill: #fff;
        position: relative;
        right: 0.5rem;
        top: 0.5rem;

        @media screen and (min-width: 75em) {
            fill: $color2;
            width: 1.5rem;
            top: 0.35rem;
        }
    }
    //sub-menu
    &__list--child {
        background-color: darken($color1, 3%);
        width: 13.5rem;

        @media screen and (min-width: 30em) {
            width: 15rem;
        }

        @media screen and (min-width: 37.5em) {
            width: 16rem;
        }

        @media screen and (min-width: 64em) {
            margin-left: 0;
            width: 17rem;
        }

        @media screen and (max-width: 74.9em) {
            max-height: 0;
            overflow: hidden;
            transition: all 250ms ease-in;
        }

        &.show-submenu {
            max-height: 12.5rem;

            @media screen and (min-width: 64em) {
                max-height: 14rem;
            }
        }

        @media screen and (min-width: 75em) {
            background-color: #fff;
            position: absolute;
            display: none;
        }

    }
    &__item--child {
        
        @media screen and (min-width: 75em) {
            float: none;
        }
    }
    &__link--child {
        color: darken($color1, 20%);
        font-size: 1.1rem;
        font-weight: $normal;
        line-height: 3.5;
        box-shadow: 0 0.5px 0 darken($color1, 10%);
        padding-left: 1rem;

        @media screen and (min-width: 30em) {
            font-size: 1.2rem;
        }

        @media screen and (min-width: 64em) {
            line-height: 3.9;
        }

        @media screen and (min-width: 75em) {
            color: rgba($color3, .7);
            font-size: 1rem;
            box-shadow: 0 0.5px 0 rgba($color3, .2);
            line-height: 4;
        }
    }
}

//show sub menu since 64em
@media screen and (min-width: 75em) {
    .main-nav__item:hover > .main-nav__list--child {
        display: block;
    }
}
