.main-nav {
    background-color: $color1;

    @media screen and (max-width: 63em) {
        position: fixed;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: -100%;
        z-index: 700;
        overflow: auto;

        padding: 5rem 1rem 0;
        transition: all 300ms ease-in;
    }
    &.active {
        right: 0;
    }

    //main-menu
    &__list {

    }
    &__item {

        @media screen and (max-width: 63em) {
            margin-bottom: 1rem;
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: $medium;
        line-height: 2.5;
    }
    &__icon-arrow {
        width: 2rem;
        fill: #fff;
        position: relative;
        right: 0.5rem;
        top: 0.5rem;
    }
    //sub-menu
    &__list--child {
        background-color: darken($color1, 3%);
        width: 15.5rem;

        @media screen and (max-width: 63em) {
            max-height: 0;
            overflow: hidden;
            transition: all 250ms ease-in;  
        }
        &.show-submenu {
            max-height: 13rem;
        }
    }
    &__item--child {
        
        @media screen and (max-width: 63em) {
            margin-bottom: 0;
        }
    }
    &__link--child {
        display: block;
        color: darken($color1, 20%);
        font-size: 1.2rem;
        font-weight: $normal;
        line-height: 3.5;
        box-shadow: 0 0.5px 0 darken($color1, 10%);
        padding-left: 1rem;
    }
}