.package {
    padding: 3rem 0;

    &__items-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 48em) {
            width: 88%;

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 64em) {
            justify-content: space-between;
            align-items: center;
        }

        @media screen and (min-width: 75em) {
            width: 1100px;
        }
    }
    &__item {
        text-align: center;
        border: 1px solid rgba(#ccc, .8);
        border-radius: 10px;
        margin-bottom: 3rem;
        padding: 1.5rem 0;
        transition: all 250ms ease-in;

        @media screen and (min-width: 30em) {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 48em) {
            flex-basis: 45%;
        }

        @media screen and (min-width: 64em) {
            flex-basis: 31%;
        }

        @media screen and (min-width: 75em) {
            flex-basis: 28%;
        }
    }
    //price section
    &__item-price-container {
        padding: 2rem 0;
        border-bottom: 1px solid rgba(#ccc, .8);
    }
    &__item-header {
        
    }
    &__item-title {
        margin-top: 0;
        text-transform: uppercase;
        color: rgba(#ccc, .5);
        font-family: $fontTitle;
        font-size: 2.7rem;

        @media screen and (min-width: 64em) {
            font-size: 2.4rem;
        }

        @media screen and (min-width: 75em) {
            font-size: 2.2rem;
        }
    }
    &__item-price-style {
       position: relative; 
    }
    &__item-price-peso,
    &__item-price,
    &__item-price-coin {
        color: $color5;
    }
    //color modifiers for restaurants
    &__item-price-peso--yellow,
    &__item-price--yellow,
    &__item-price-coin--yellow {
        color: rgba($color1, .5);
    }
    //color modifiers for doctors
    &__item-price-peso--blue,
    &__item-price--blue,
    &__item-price-coin--blue {
        color: rgba(#7AA7D6, .8);
    }
    &__item-price-peso,
    &__item-price-coin {
        font-weight: $normal;
        font-size: 1.7rem;

        @media screen and (min-width: 64em) {
            font-size: 1.5rem;
        }
    }
    &__item-price {
        font-weight: $medium;
        font-size: 4rem;

        @media screen and (min-width: 64em) {
            font-size: 3rem;
        }
    }
    &__item-price-coin {
        text-transform: uppercase;
    }
    //Issues section
    &__item-list-container {
        padding: 3rem 1.5rem;
    }
    &__item-list-item {
        color: $color3;
        line-height: 3;
        font-size: 1.2rem;
        font-weight: $light;

        @media screen and (min-width: 64em) {
            font-size: 1.1rem;
        }
    }
    //button section
    &__button-container {
        padding-bottom: 2rem;
    }
    &__button {
        text-decoration: none;
        display: inline-block;
        line-height: 2.8;
        padding: 0 2rem;
        font-size: 1.5rem;
        border-radius: 8px;
        background-color: $color5;
        color: #fff;
        transition: all 200ms ease-in;
        &:hover {
            background-color: $color1;
            color: #fff;
        }

        @media screen and (min-width: 64em) {
            font-size: 1.2rem;
        }
    }
    //background-color modifiers for buttons restaurants
    &__button--yellow {
        background-color: $color1;
        &:hover {
            background-color: $color5;
        }
    }
    //background-color modifiers for buttons doctors
    &__button--blue {
        background-color: rgba(#7AA7D6, .8);
        &:hover {
            background-color: $color5;
        }
    }
}